<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon"/>
    </head>
    <body>
        Dear <b th:text="${info.book.author.lastName}"/>
        <p>
            Your book <b th:text="${info.book.title}"/> has been published. Congratulations.
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <em>BookStoring Inc</em>
        </p>
    </body>
</html>
